@import url('https://fonts.googleapis.com/css2?family=Alef&family=Lora:ital,wght@0,400;0,600;1,400&family=Jost:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Days-Regular';
  src: url('/fonts/Days/Days-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Days-Bold';
  src: url('/fonts/Days/Days-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Days-Nights';
  src: url('/fonts/Days/Days-Nights.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Days-NightsBold';
  src: url('/fonts/Days/Days-NightsBold.ttf') format('truetype');
  font-display: swap;
}
